.root {
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
}

.root :global .MuiCheckbox-root {
    margin-top: -5px;
    margin-left: -5px;
    color: rgba(0, 0, 0, 0.3);
    padding: 5px;
}

.root :global .MuiCheckbox-colorPrimary.Mui-checked {
    color: #5c6bc0;
}

.root :global .MuiSvgIcon-root {
    font-size: 20px;
}

.root p {
    margin: 1px 0 12px;
    font-size: 13px;
    color: #7f7f7f;
}
