.root ul {
    margin: 1.4rem 0;
    padding: 0;
    list-style: none;
}

.root li {
    font-size: 17px;
}

.root li :global .material-icons {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    vertical-align: -20%;
    color: #444;
}

.qq {
    font-size: 1.05rem;
    margin-right: 0.5rem;
    color: #444;
    display: inline-block;
    min-width: 20px;
}

.mailTo {
    text-decoration: none;
    color: inherit;
}

.popper1 {
    pointer-events: none;
}

.popper1 img {
    width: 13.5rem;
    height: 13.5rem;
    display: block;
}

@media (max-width: 599px) {
    .root li + li {
        margin-top: 0.8rem;
    }
}

@media (min-width: 600px) {
    .root ul {
        display: flex;
        justify-content: space-between;
    }
}
