.root {
    display: inline-block;
    position: relative;
    color: #3f51b5;
}

.shield {
    font-size: 40px;
}

.account {
    position: absolute;
    right: 0;
    bottom: 8px;
    background-color: white;
    border-radius: 50%;
}
