.root :global .tip {
    margin-left: 10px;
    margin-top: 1.9rem;
}

.listBox {
    margin-top: 0.5rem;
}

.item:first-of-type {
    border-top: solid 1px #eee;
}

.item {
    display: flex;
    border-bottom: solid 1px #eee;
    align-items: center;
    padding-left: 10px;
}

.mainBox {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-grow: 1;
    padding: 6px 0;
}

.loginStatus {
    color: #7f7f7f;
}

.avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 5%;
}

.box1 {
    flex-grow: 1;
    margin-left: 1.2rem;
}

.nickname {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 0;
}

.account {
    margin-top: 4px;
    margin-bottom: 0;
    color: #7f7f7f;
}

.useNew {
    padding: 16px 10px;
    font-size: 1.1rem;
    border-bottom: solid 1px #eee;
    text-align: center;
    color: #666;
}

.useNew :global .MuiSvgIcon-root {
    vertical-align: -15%;
}

@media (hover: hover) {
    .item.hover {
        background-color: #f7f8f9;
    }

    .useNew:hover {
        background-color: #f7f8f9;
        cursor: pointer;
        color: inherit;
    }
}
