.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.guideArrow {
    position: fixed;
    right: 1.5rem;
    top: 0.5rem;
}

.guideArrow img {
    opacity: 0.9;
    width: 17rem;
}

.box1 {
    text-align: center;
}

.box1 p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.openWithBrowser {
    width: 98px;
}
