.accountBox {
    margin-top: 10px;
    text-align: center;
}

.accountBox :global .MuiButton-outlined {
    border-radius: 20px;
    opacity: 0.8;
    border-color: #ccc;

    text-transform: none;
}

.box1 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.box2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form1 :global .MuiFormControl-root:not(:first-of-type) {
    margin-top: 10px;
}

.dark {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background-color: black;
    opacity: 0.3;
}

.signUp .accountBox {
    margin-top: 20px;
}
