.root {
    text-align: center;
}

.root label {
    cursor: pointer;
    display: inline-block;
}

.root img {
    border-radius: 5%;
    vertical-align: middle;
    width: 100px;
}

.root :global .material-icons {
    font-size: 98px;
    color: #ccc;
    cursor: pointer;
    vertical-align: middle;
    border: 1px dashed #d9d9d9;
    border-radius: 5%;
}

.root.required :global .material-icons {
    border-color: #f44336;
}

.title {
    margin-top: 5px;
    display: inline-block;
}

.root.required .title {
    color: #f44336;
}

.root :global .tip {
    margin-top: 1px;
}
