.root {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 330px;
    margin: 0 auto;
}

.box {
    text-align: center;
}

.box img {
    border-radius: 5%;
    width: 100px;
    height: 100px;
}

.box p {
    margin-top: 5px;
}

.swapIcon {
    margin-bottom: 40px;
    font-size: 60px;
    color: #d9d9d9;
}

@media (min-width: 600px) {
    .root {
        margin-top: 5px;
    }
}
