.root {
    display: flex;
    justify-content: center;
}

.box {
    text-align: center;
}

.box img {
    border-radius: 4px;
}

.box p {
    margin-top: 5px;
}

.box1 {
    display: flex;
    align-items: center;
}

.box1 :global .MuiSvgIcon-root {
    margin: 0 20px 40px;
    font-size: 60px;
    color: #ccc;
}
