.root {
    display: flex;
    justify-content: center;
}

.button {
    cursor: pointer;
    text-align: center;
    color: #3f51b5;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

.button:hover {
    background-color: rgba(63, 81, 181, 0.04);
}

.button :global .material-icons {
    font-size: 2rem;
}

.button p {
    margin: 0;
    font-size: 0.8125rem;
}
