body {
    background-color: white;
}

@font-face {
    font-family: "iconfont"; /* Project id 545468 */
    src: url("//at.alicdn.com/t/font_545468_uxcwqgt1mw.woff2?t=1622972228087") format("woff2"),
        url("//at.alicdn.com/t/font_545468_uxcwqgt1mw.woff?t=1622972228087") format("woff"),
        url("//at.alicdn.com/t/font_545468_uxcwqgt1mw.ttf?t=1622972228087") format("truetype");
}

.iconfont {
    font-family: "iconfont";
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* reset mui start */
.MuiFormHelperText-root {
    font-size: 13px;
}
/* reset mui end */

.tip {
    font-size: 0.8125rem;
    color: #7f7f7f;
    margin-bottom: 0;
}

.accountBox {
    margin-top: 20px;
    text-align: center;
}

.accountBox .MuiButton-outlined {
    border-radius: 20px;
    opacity: 0.8;
    border-color: #ccc;

    text-transform: none;
}

.twoButtonBox {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.oneButtonBox {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.form1 .MuiFormControl-root:not(:first-of-type) {
    margin-top: 10px;
}

.geetest_logo {
    display: none;
}

.geetest_success_logo {
    display: none;
}

.geetest_feedback {
    display: none !important;
}

.geetest_copyright {
    display: none;
}

.geetest_popup_ghost {
    opacity: 0 !important;
}
